.Summarybox {
  border-radius: 0.7rem !important;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  margin: 3rem 0rem;
  overflow: hidden !important;
  border: 0.2rem solid #e0e0e0;

  &-item {
    width: 20%;
    padding: 0rem 0rem 0rem 2rem;
    margin: auto;

    & h1 {
      font-size: 1.6rem;
      font-weight: 600;
      color: #828282;
    }

    & p {
      font-size: 2rem;
      font-weight: 600;
      color: black;
    }
  }
}
