.large {
  width: fit-content;
  height: fit-content;
  font-size: 1.5rem;
  padding: 0.7rem 1.2rem;
  background-color: #e9f2ff !important;
  color: #0061ff;
  border-radius: 4px !important;
  margin: 1rem 3rem 0rem 0rem;
  border: none !important;
  margin-bottom: 2rem !important;
}

.medium {
  width: fit-content;
  height: fit-content;
  font-size: 1.3rem;
  padding: 0.7rem 1.2rem;
  background-color: #e9f2ff !important;
  color: #0061ff;
  border-radius: 4px !important;
  margin: 1rem 1.7rem 0rem 0rem;
  border: none !important;
  margin-bottom: 2rem !important;
}

.small {
  width: fit-content;
  height: fit-content;
  font-size: 1.3rem;
  padding: 0.7rem 1.2rem;
  background-color: #e9f2ff !important;
  color: #0061ff;
  border-radius: 4px !important;
  margin: 1rem 1.3rem 0rem 0rem;
  border: none !important;
  margin-bottom: 2rem !important;

  @media screen and (max-width: 37.5em) {
    font-size: 1.1rem;
    padding: 0.6rem 0.65rem;
    background-color: #e9f2ff !important;
    color: #0061ff;
    border-radius: 4px !important;
    margin: 1rem 1rem 0rem 0rem;
    border: none !important;
    margin-bottom: 2rem !important;
  }
}
