.PrimaryButton {
  padding: 0.5rem 2rem;
  height: 4.4rem;
  text-align: center;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 3.4rem;
  font-weight: 500;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 600;

  @media screen and (max-width: 37.5em) {
    font-size: 1.2rem;
    height: 3.2rem;
    line-height: 3.2rem;
    border-radius: 0.4rem;
  }
}

.primaryColor {
  background-color: #0061ff;
  color: white;
}

.secondaryColor {
  background-color: white;
  color: black;
}

.Gray-5 {
  background-color: #e0e0e0;
  color: #333333;
}

.delete {
  background-color: white;
  color: red;
  border: red solid;
}
