*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (min-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Gilroy" !important;
  font-weight: 300;
  line-height: 1.6;
  min-height: 100vh; }

.content {
  display: flex;
  height: fit-content;
  min-height: 100vh; }

.sidebar {
  background-color: #f8fafc;
  padding: 3rem;
  flex-basis: 25%; }

.main-view {
  background-color: #f8fafc;
  flex-basis: 75%;
  padding: 3rem; }

.auth-container {
  display: flex;
  flex-direction: row;
  padding: 1.4rem;
  height: fit-content;
  min-height: 100vh; }

body {
  background-color: #fafafa !important; }

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 8rem !important;
  background-color: white; }
  .navbar-logo {
    width: 5.75rem;
    height: 3rem;
    margin: auto 0rem;
    cursor: pointer; }
  .navbar-center {
    width: 50rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto; }
    .navbar-center span {
      text-decoration: none;
      color: black;
      font-weight: 600;
      font-size: 1.7rem;
      cursor: pointer; }
  .navbar-right {
    width: 12rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .navbar-right--profile {
      width: 4.5rem;
      height: 4.5rem;
      cursor: pointer; }
    .navbar-right--notification {
      width: 3rem;
      height: 3rem;
      margin: auto 0rem; }

.offerdetails {
  margin: 5rem 8rem;
  height: fit-content;
  display: flex;
  justify-content: space-between; }
  .offerdetails__bigcard {
    width: 66%;
    background-color: white;
    border-radius: 1rem !important;
    border: none !important;
    overflow: hidden; }
    .offerdetails__bigcard-content {
      padding: 0rem 3.5rem; }
    .offerdetails__bigcard--cover {
      width: 100%;
      height: 20rem;
      object-fit: cover;
      margin-bottom: 6rem; }
    .offerdetails__bigcard--profilepic {
      width: 10rem;
      border-radius: 0.7rem;
      border: 0.45rem solid #ffffff;
      margin-top: -13rem; }
    .offerdetails__bigcard--heading {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .offerdetails__bigcard--heading h1 {
        margin-top: 1rem;
        font-size: 2.4rem;
        font-weight: 700; }
      .offerdetails__bigcard--heading h2 {
        font-size: 1.5rem;
        font-weight: 600;
        color: #0061ff;
        margin-top: 0rem; }
      .offerdetails__bigcard--heading-right {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end; }
        .offerdetails__bigcard--heading-right-span {
          margin-top: 2rem; }
          .offerdetails__bigcard--heading-right-span span {
            font-size: 1.5rem;
            font-weight: 600; }
          .offerdetails__bigcard--heading-right-span :first-child {
            color: #bdbdbd; }
        .offerdetails__bigcard--heading-right-buttons > * {
          margin-left: 2rem; }
    .offerdetails__bigcard h1 {
      font-weight: 700;
      font-size: 2.4rem; }
    .offerdetails__bigcard--exigences {
      margin-top: 1.8rem;
      display: flex;
      flex-wrap: wrap; }
      .offerdetails__bigcard--exigences .skill-tag {
        margin-bottom: 20px; }
    .offerdetails__bigcard--description {
      margin-top: 2rem; }
      .offerdetails__bigcard--description p {
        font-size: 1.6rem;
        color: #828282;
        line-height: 2.5rem;
        margin-top: 1.8rem;
        font-weight: 600; }
    .offerdetails__bigcard--detailspoints {
      margin: 3rem 0rem 5rem 0rem; }
      .offerdetails__bigcard--detailspoints-item {
        display: flex;
        margin-left: 3rem;
        margin-top: 2rem; }
        .offerdetails__bigcard--detailspoints-item p {
          font-size: 1.6rem;
          margin: auto 2rem;
          font-weight: 600; }
  .offerdetails__similaroffers {
    /* position: fixed;
    right: 5rem; */
    width: 30%;
    font-weight: 600; }
    .offerdetails__similaroffers .skill-tag {
      margin-top: 1rem;
      margin-bottom: 1rem; }
    .offerdetails__similaroffers h1 {
      font-size: 2.6rem;
      margin-bottom: 2rem;
      margin-top: 0rem; }

.offerAppReview__details {
  display: flex;
  flex-wrap: wrap; }
  .offerAppReview__details-item {
    width: 33%; }
    .offerAppReview__details-item h1 {
      font-size: 2.2rem;
      font-weight: 700;
      color: #828282;
      margin-top: 2rem; }
    .offerAppReview__details-item p {
      font-size: 1.8rem;
      font-weight: 600;
      color: black; }

.offerAppReview__detailstitle {
  margin-top: 6rem;
  font-size: 3rem !important; }

.offerapplication__bigcard-uppersection {
  display: flex;
  justify-content: space-between; }
  .offerapplication__bigcard-uppersection--left {
    width: 77%; }
  .offerapplication__bigcard-uppersection--right {
    width: 17%; }
    .offerapplication__bigcard-uppersection--right h1 {
      font-size: 2.2rem;
      font-weight: 700;
      color: #828282;
      margin-top: 3rem; }
    .offerapplication__bigcard-uppersection--right p {
      font-size: 1.6rem;
      font-weight: 600;
      color: black; }

.offerapplication__bigcard-applicationDetails {
  margin-top: 4rem; }
  .offerapplication__bigcard-applicationDetails--content {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    width: 85%; }
  .offerapplication__bigcard-applicationDetails--item {
    max-width: 25%;
    margin-right: 5rem;
    margin-top: 1rem; }
    .offerapplication__bigcard-applicationDetails--item h1 {
      font-size: 1.8rem;
      font-weight: 700;
      color: #828282; }
    .offerapplication__bigcard-applicationDetails--item p {
      font-size: 1.8rem;
      font-weight: 600;
      color: black; }

.offerapplication__motivationletter {
  display: flex;
  flex-direction: column;
  margin-top: 4rem; }
  .offerapplication__motivationletter label {
    font-size: 1.8rem;
    font-weight: 600;
    color: #828282; }
  .offerapplication__motivationletter textarea {
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border: #828282 solid;
    border-radius: 0.5rem;
    margin-top: 1rem;
    font-weight: 500; }

.offerapplication__cv {
  display: flex;
  flex-direction: column;
  margin-top: 4rem; }
  .offerapplication__cv label {
    font-size: 1.8rem;
    font-weight: 600;
    color: #828282; }
  .offerapplication__cv-content {
    display: flex;
    margin-top: 1rem; }
    .offerapplication__cv-content img {
      width: 35rem;
      height: 20rem;
      object-fit: cover;
      border-radius: 0.5rem;
      margin-right: 6rem; }
    .offerapplication__cv-content--buttons {
      margin-top: auto;
      margin-bottom: auto; }
      .offerapplication__cv-content--buttons > * {
        margin-right: 2rem;
        margin-top: auto;
        margin-bottom: auto; }

.offerapplication__actions {
  margin-top: 5rem;
  text-align: end;
  padding-bottom: 3rem; }
  .offerapplication__actions > * {
    margin-left: 3rem; }

.auth_side-left {
  position: relative;
  flex-basis: 55%;
  border-radius: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 97vh; }
  .auth_side-left--block {
    position: absolute;
    background-color: rgba(49, 151, 149, 0.6);
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem; }

.auth_side-right {
  align-items: center;
  display: flex;
  flex-basis: 45%;
  flex-direction: column;
  padding: 8rem; }

.auth_heading-illustration {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem; }

.auth_heading-title {
  font-size: 3rem;
  font-weight: 700;
  font-style: italic; }

.auth_heading-subtitle {
  text-transform: uppercase;
  text-align: center;
  align-self: center;
  font-size: 3.5rem; }
  .auth_heading-subtitle--light {
    font-weight: lighter; }
  .auth_heading-subtitle--bold {
    font-weight: 600; }

.auth_heading-footer {
  align-self: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-style: italic; }

.auth_header {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 8rem; }

.auth_form {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .auth_form-group {
    margin-bottom: 2rem; }
  .auth_form-label {
    font-size: 1.5rem;
    font-weight: 500;
    color: #828282;
    margin-bottom: 0.5rem; }
  .auth_form-input {
    font-family: inherit;
    font-size: 1.8rem !important;
    font-weight: 500 !important;
    color: #828282;
    padding: 1.7rem !important;
    border-radius: 0.8rem !important;
    border: 0.2rem solid #828282;
    width: 100%;
    height: 6rem; }
  .auth_form-helper {
    margin-top: 0.5rem;
    font-size: 1.8rem; }
  .auth_form-button {
    background-color: #319795 !important;
    border-radius: 4rem !important;
    color: white;
    font-size: 2rem !important;
    padding: 3rem 6rem;
    margin-top: 2rem;
    width: 60% !important;
    align-self: center; }

.auth_other {
  margin-top: 5rem;
  margin-bottom: 6rem; }
  .auth_other-title {
    font-size: 2.5rem;
    color: #868fa0;
    font-weight: 500; }
  .auth_other-group {
    font-size: 4.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem; }
  .auth_other-icon--fb {
    cursor: pointer;
    color: #4267b2; }
  .auth_other-icon--google {
    cursor: pointer;
    color: #db4437; }

.auth_footer {
  font-size: 2.2rem;
  text-align: center; }
  .auth_footer-cta {
    font-weight: 700;
    color: #319795;
    cursor: pointer; }

.home__searchbar {
  display: flex;
  margin-bottom: 4rem; }
  .home__searchbar-input {
    width: 30% !important;
    background-color: white;
    padding: 2.2rem 3rem;
    font-size: 2rem;
    border-right: #f2f2f2 solid 0.2rem; }
    .home__searchbar-input-icon {
      color: #0061ff; }
    .home__searchbar-input input {
      margin-left: 1.5rem;
      font-weight: 600;
      width: 90%; }
      .home__searchbar-input input:focus {
        outline: none;
        color: #828282; }
  .home__searchbar-button {
    width: 12% !important;
    background-color: #0061ff;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    margin: auto;
    text-align: center;
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
    cursor: pointer; }
  .home__searchbar :first-child {
    border-radius: 0.8rem 0rem 0rem 0.8rem !important; }
  .home__searchbar :last-child {
    border-radius: 0rem 0.8rem 0.8rem 0rem !important; }

.home__jobOffers {
  padding: 4rem 8rem 2rem 8rem; }
  @media screen and (max-width: 37.5em) {
    .home__jobOffers {
      padding: 2rem 4rem; } }
  .home__jobOffers h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem; }
    @media screen and (max-width: 37.5em) {
      .home__jobOffers h1 {
        font-size: 2.4rem; } }
  .home__jobOffers--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }

.sidebar__logo {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 7rem; }

.side-nav {
  list-style: none; }
  .side-nav__item {
    padding: 1.8rem;
    border-radius: 1.6rem;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 3rem;
    cursor: pointer; }
    .side-nav__item--active, .side-nav__item:hover {
      background-color: white; }
  .side-nav__link {
    display: flex;
    align-items: center;
    gap: 2rem; }
  .side-nav__icon {
    color: #0061ff;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    height: 1.8rem;
    width: 1.8rem; }
    .side-nav__item--active .side-nav__icon,
    .side-nav__item:hover .side-nav__icon {
      color: white;
      background-color: #0061ff;
      height: 1.8rem;
      width: 1.8rem; }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 1rem; }
  .user-nav > *:hover {
    background-color: #f2f2f2; }
  .user-nav__user {
    padding-right: 0; }
    .user-nav__user-info {
      display: flex;
      flex-direction: column;
      align-items: flex-end; }
      .user-nav__user-info--name {
        font-size: 1.6rem;
        font-weight: 600;
        color: black; }
      .user-nav__user-info--link {
        font-size: 1.3rem;
        font-weight: 600;
        text-decoration: underline;
        color: #bdbdbd; }
  .user-nav__icon-box {
    position: relative;
    font-size: 2rem;
    color: #bdbdbd; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: #bdbdbd; }
  .user-nav__notification {
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    background-color: #0061ff;
    color: #0061ff;
    position: absolute;
    top: 2.5rem;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem; }
  .main-nav__search {
    width: 35% !important; }
    .main-nav__search input {
      padding: 2.2rem;
      background-color: white;
      border-radius: 1.4rem;
      font-size: 1.4rem; }

.dataTable {
  font-family: "Montserrat"; }
  .dataTable_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem; }
    .dataTable_nav-left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1.6rem; }
    .dataTable_nav-title {
      font-size: 3.5rem;
      font-weight: 700; }
    .dataTable_nav-group {
      padding: 0.5rem;
      background-color: white;
      font-size: 1.6rem;
      border-radius: 0.8rem; }
      .dataTable_nav-group--btn {
        font-size: 1.8rem !important;
        font-weight: 600 !important;
        padding: 2.4rem !important;
        background-color: white !important; }
      .dataTable_nav-group--active {
        color: white;
        background-color: #0061ff !important; }
    .dataTable_nav-cta {
      font-size: 1.8rem !important;
      font-weight: 600 !important;
      background-color: #0061ff !important;
      color: white;
      padding: 2.5rem 2rem !important; }
  .dataTable_head {
    font-size: 1.6rem;
    font-weight: 600;
    color: #687182;
    text-transform: uppercase;
    border-bottom: 1px solid #e9edf5; }
  .dataTable_header-group {
    display: flex;
    flex-direction: column;
    gap: 0.2rem; }
  .dataTable_header-icon {
    height: 0.8rem;
    color: #464f60;
    margin-left: 2rem !important; }
  .dataTable_header-id {
    color: #171c26;
    font-weight: 600; }
  .dataTable_item {
    font-size: 1.6rem;
    font-weight: 400;
    padding: 2rem 1rem !important;
    text-align: center; }
    .dataTable_item--center {
      text-align: center !important; }
    .dataTable_item-id {
      color: #171c26;
      font-weight: 600; }
    .dataTable_item-bold {
      font-weight: 500;
      color: #5e5adb; }
    .dataTable_item-box {
      padding: 0.3rem 0.7rem;
      background-color: #e9edf5;
      border-radius: 0.6rem;
      color: #464f60; }
    .dataTable_item-status {
      font-size: 1.2rem;
      font-weight: 500;
      padding: 0.8rem;
      background-color: #e1fcef;
      width: fit-content;
      color: #14804a;
      border-radius: 0.4rem; }
      .dataTable_item-status--icon {
        font-size: 0.8rem; }

.myoffers {
  margin: 5rem 8rem; }
  .myoffers h1 {
    font-size: 3rem;
    font-weight: 700; }
  .myoffers__tabs {
    margin-top: 1rem;
    margin-bottom: 2rem; }
    .myoffers__tabs-item {
      margin-right: 2rem;
      color: black;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.6rem !important;
      height: 5rem; }
  .myoffers__list {
    margin-top: 2rem; }

.interviewdetails__header {
  margin: 5rem 8rem; }
  .interviewdetails__header h1 {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 2rem; }

.jsprofile {
  margin: 5rem 8rem;
  display: flex;
  justify-content: space-between; }
  .jsprofile__left {
    width: 66%; }
    .jsprofile__left h1 {
      font-size: 2.6rem;
      font-weight: 600;
      margin-bottom: 2rem; }
  .jsprofile__box {
    padding: 3rem 3.6rem;
    background-color: white;
    border-radius: 0.8rem;
    margin-bottom: 4rem; }
    .jsprofile__box-cv {
      padding: 3rem 3.6rem;
      background-color: white;
      border-radius: 0.8rem;
      margin-bottom: 4rem; }
      .jsprofile__box-cv > * {
        margin-bottom: 5.6rem; }
    .jsprofile__box--header {
      display: flex;
      justify-content: space-between;
      vertical-align: middle;
      margin-bottom: 2.5rem; }
    .jsprofile__box--action {
      margin-top: auto;
      margin-bottom: auto;
      color: #0061ff;
      cursor: pointer; }
      .jsprofile__box--action span {
        font-size: 1.8rem;
        font-weight: 600; }
      .jsprofile__box--action-icon {
        font-size: 1.6rem;
        margin-right: 1.2rem; }
  .jsprofile__biography--paragraph {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.6rem;
    color: #828282; }
  .jsprofile__languages {
    display: flex;
    flex-wrap: wrap; }
    .jsprofile__languages--item {
      width: 33%;
      margin-bottom: 2.5rem; }
      .jsprofile__languages--item h1 {
        font-size: 1.5rem;
        letter-spacing: 0.05rem;
        font-weight: 600;
        color: #828282; }
      .jsprofile__languages--item p {
        margin-top: 1.2rem;
        font-size: 1.9rem;
        font-weight: 600;
        color: #333333;
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis; }
      .jsprofile__languages--item hr {
        margin-top: 3.2rem;
        border-top: 0.15rem dashed #e0e0e0; }
  .jsprofile__education {
    display: flex;
    justify-content: space-between; }
    .jsprofile__education--divider {
      margin-top: 3.2rem;
      margin-bottom: 3.2rem;
      border-top: 0.15rem dashed #e0e0e0; }
    .jsprofile__education--content h1 {
      font-size: 2.3rem;
      font-weight: 600;
      margin-bottom: 1.6rem; }
    .jsprofile__education--content h2 {
      font-size: 1.7rem;
      font-weight: 600;
      color: #4f4f4f;
      margin-bottom: 1.6rem; }
    .jsprofile__education--content span {
      font-size: 1.7rem;
      font-weight: 500;
      color: #828282; }
    .jsprofile__education--content-files {
      display: flex;
      margin-top: 1.6rem !important; }
      .jsprofile__education--content-files img {
        width: 14rem;
        height: 8.2rem;
        margin-right: 2rem;
        border-radius: 0.5rem; }
    .jsprofile__education--content-certificatesTitle {
      display: flex; }
      .jsprofile__education--content-certificatesTitle h1 {
        margin: 0rem; }
      .jsprofile__education--content-certificatesTitle span {
        font-size: 1.4rem;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 1.6rem; }
    .jsprofile__education--content-certificatesFiles {
      display: flex;
      margin-top: 2.6rem !important; }
      .jsprofile__education--content-certificatesFiles img {
        width: 14rem;
        height: 8.2rem;
        margin-right: 2rem;
        border-radius: 0.5rem; }
    .jsprofile__education--actions {
      display: flex; }
      .jsprofile__education--actions-editicon {
        width: 1.6rem;
        height: 1.6rem;
        padding: 1rem;
        border: #828282 solid 1px;
        border-radius: 5rem;
        margin-top: auto;
        margin-bottom: auto;
        color: #828282;
        margin-right: 1.6rem !important;
        cursor: pointer; }
      .jsprofile__education--actions-deleteicon {
        width: 1.6rem;
        height: 1.6rem;
        padding: 1rem;
        border: #eb5757 solid 1px;
        border-radius: 5rem;
        margin-top: auto;
        margin-bottom: auto;
        color: #eb5757;
        cursor: pointer; }
  .jsprofile__tabs {
    background-color: white;
    margin-bottom: 4rem;
    padding: 0.2rem 3.6rem; }
    .jsprofile__tabs-item {
      height: 7rem !important;
      margin-right: 6.4rem;
      font-size: 1.8rem !important;
      color: black;
      font-weight: 600; }
  .jsprofile__heading {
    border-radius: 0.8rem;
    overflow: hidden;
    background-color: white;
    margin-bottom: 3rem;
    padding-bottom: 3rem; }
    .jsprofile__heading img {
      width: 100%;
      height: 18.5rem;
      object-fit: cover; }
    .jsprofile__heading--actions {
      display: flex;
      justify-content: space-between;
      padding: 0rem 4.6rem;
      margin-top: -6rem; }
      .jsprofile__heading--actions img {
        width: 11.5rem;
        height: 11.5rem;
        border-radius: 0.6rem; }
      .jsprofile__heading--actions-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end; }
        .jsprofile__heading--actions-buttons :first-child {
          height: auto;
          padding-top: 1rem;
          padding-bottom: 1rem;
          font-size: 1.6rem; }
        .jsprofile__heading--actions-buttons :last-child {
          height: auto;
          width: 70%;
          padding-top: 1rem;
          padding-bottom: 1rem;
          font-size: 1.6rem; }
    .jsprofile__heading--content {
      margin-top: 3rem;
      padding-right: 4.6rem;
      padding-left: 4.6rem;
      font-weight: 500; }
      .jsprofile__heading--content h1 {
        font-size: 2.6rem;
        font-weight: 600;
        margin-bottom: 1rem; }
      .jsprofile__heading--content p {
        font-size: 2rem;
        color: #4f4f4f;
        margin-bottom: 1rem; }
      .jsprofile__heading--content span {
        font-size: 1.6rem;
        color: #828282; }

.jobapplication {
  width: 100%; }
  .jobapplication__heading {
    margin-bottom: 4rem; }

.hello h1 {
  font-size: 2.5rem;
  font-weight: 500; }
