.home {
  &__resultItem {
    width: 21%;
    height: fit-content;
    background-color: white;
    padding: 2rem 1.6rem;
    border-radius: 0.8rem;
    margin-bottom: 4rem;
    @media screen and (max-width: 37.5em) {
      width: 40%;
    }

    &--heading {
      text-align: center;
      img {
        width: 7rem;
        border-radius: 0.8rem;
        margin-bottom: 0.4rem;
        @media screen and (max-width: 37.5em) {
          width: 4rem;
          border-radius: 0.4rem;
          margin-bottom: 0.3rem;
        }
      }

      h1 {
        font-size: 2rem !important;
        font-weight: 700;
        margin-bottom: 1rem !important;
        @media screen and (max-width: 37.5em) {
          font-size: 1.5rem !important;
          font-weight: 700;
          margin-bottom: 0.8rem !important;
        }
      }

      span {
        font-size: 1.5rem;
        font-weight: 600;
        color: #0061ff;
        @media screen and (max-width: 37.5em) {
          font-size: 1.2rem !important;
          font-weight: 700;
        }
      }
    }

    &--description {
      font-size: 1rem;
      line-height: 1.5rem;
      color: #828282;
      display: -webkit-box;
      max-width: 100%;
      margin: 0 auto;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 1.5rem;

      @media screen and (max-width: 37.5em) {
        font-size: 0.85rem;
        line-height: 1.35rem;
      }
    }

    &--skills {
      margin-top: 1.8rem;
      display: flex;
      flex-wrap: wrap;
      @media screen and (max-width: 37.5em) {
        margin-top: 1rem;
      }
    }

    &--buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      :first-child {
        margin-right: 1.5rem;
      }
    }

    &--button {
      width: 47%;
    }
  }
}
