// COMPONENTS STYLE

body {
  background-color: #fafafa !important;
}

// NAVIGATION BAR
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 8rem !important;
  background-color: white;

  &-logo {
    width: 5.75rem;
    height: 3rem;
    margin: auto 0rem;
  }

  &-center {
    width: 50rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;

    &--link {
      text-decoration: none;
      color: black;
      font-weight: 600;
      font-size: 1.7rem;
    }
  }

  &-right {
    width: 12rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &--profile {
      width: 4.5rem;
      height: 4.5rem;
    }

    &--notification {
      width: 3rem;
      height: 3rem;
      margin: auto 0rem;
    }
  }
}

//OFFER DETAILS
.offerdetails {
  margin: 5rem 8rem;
  height: fit-content;
  display: flex;
  justify-content: space-between;

  &__bigcard {
    width: 66%;
    background-color: white;
    border-radius: 1rem !important;
    border: none !important;
    overflow: hidden;

    &-content {
      padding: 0rem 3.5rem;
    }

    &--cover {
      width: 100%;
      height: 20rem;
      object-fit: cover;
      margin-bottom: 6rem;
    }

    &--profilepic {
      width: 10rem;
      border-radius: 0.7rem;
      border: 0.45rem solid #ffffff;
      margin-top: -13rem;
    }

    &--heading {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      h1 {
        font-size: 2.4rem;
        font-weight: 700;
      }

      h2 {
        font-size: 1.5rem;
        font-weight: 600;
        color: #0061ff;
        margin-top: 1rem;
      }

      span {
        font-size: 1.5rem;
        font-weight: 600;

        &:first-child {
          color: #bdbdbd;
        }
      }
    }

    h1 {
      font-weight: 700;
    }

    &--exigences {
      margin-top: 1.8rem;
      display: flex;
      flex-wrap: wrap;

      .skill-tag {
        margin-bottom: 20px;
      }
    }

    &--description {
      margin-top: 2rem;
      p {
        font-size: 1.4rem;
        color: #828282;
        line-height: 2.5rem;
        margin-top: 1.8rem;
      }
    }

    &--detailspoints {
      margin: 3rem 0rem 5rem 0rem;
      &-item {
        display: flex;
        margin-left: 3rem;
        margin-top: 2rem;

        p {
          font-size: 1.5rem;
          margin: auto 2rem;
        }
      }
    }
  }

  &__similaroffers {
    width: 30%;
    font-weight: 600;

    .skill-tag {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    h1 {
      font-size: 2.6rem;
      margin-bottom: 2rem;
      margin-top: 0rem;
    }
  }
}

// AUTH
.auth {
  &_side {
    &-left {
      position: relative;
      flex-basis: 55%;
      border-radius: 1rem;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-height: 97vh;

      &--block {
        position: absolute;
        background-color: rgba(49, 151, 149, 0.6);
        border-radius: 1rem;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem;
      }
    }
    &-right {
      align-items: center;
      display: flex;
      flex-basis: 45%;
      flex-direction: column;
      padding: 8rem;
    }
  }

  &_heading {
    &-illustration {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;
    }
    &-title {
      font-size: 3rem;
      font-weight: 700;
      font-style: italic;
    }

    &-subtitle {
      text-transform: uppercase;
      text-align: center;
      align-self: center;
      font-size: 3.5rem;

      &--light {
        font-weight: lighter;
      }

      &--bold {
        font-weight: 600;
      }
    }

    &-footer {
      align-self: center;
      text-transform: uppercase;
      font-size: 2rem;
      font-style: italic;
    }
  }

  &_header {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 8rem;
  }

  &_form {
    width: 100%;
    display: flex;
    flex-direction: column;

    &-group {
      margin-bottom: 2rem;
    }

    &-label {
      font-size: 1.5rem;
      font-weight: 500;
      color: #828282;
      margin-bottom: 0.5rem;
    }

    &-input {
      font-family: inherit;
      font-size: 1.8rem !important;
      font-weight: 500 !important;
      color: #828282;
      padding: 1.7rem !important;
      border-radius: 0.8rem !important;
      border: 0.2rem solid #828282;
      width: 100%;
      height: 6rem;
    }

    &-helper {
      margin-top: 0.5rem;
      font-size: 1.8rem;
    }

    &-button {
      background-color: #319795 !important;
      border-radius: 4rem !important;
      color: white;
      font-size: 2rem !important;
      padding: 3rem 6rem;
      margin-top: 2rem;
      width: 60% !important;
      align-self: center;
    }
  }

  &_other {
    margin-top: 5rem;
    margin-bottom: 6rem;

    &-title {
      font-size: 2.5rem;
      color: #868fa0;
      font-weight: 500;
    }

    &-group {
      font-size: 4.5rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 2rem;
    }

    &-icon {
      &--fb {
        cursor: pointer;
        color: #4267b2;
      }

      &--google {
        cursor: pointer;
        color: #db4437;
      }
    }
  }

  &_footer {
    font-size: 2.2rem;
    text-align: center;

    &-cta {
      font-weight: 700;
      color: #319795;
      cursor: pointer;
    }
  }
}

//HOME PAGE JOB-SEEKER
.home {
  &__jobOffers {
    padding: 2rem 8rem;
    @media screen and (max-width: 37.5em) {
      padding: 2rem 4rem;
    }

    h1 {
      font-size: 2.7rem;
      font-weight: 700;
      margin-bottom: 2.8rem;
      @media screen and (max-width: 37.5em) {
        font-size: 2.4rem;
      }
    }

    &--container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}

//MY OFFERS
.myoffers {
  margin: 5rem 8rem;

  h1 {
    font-size: 3rem;
    font-weight: 700;
  }

  &__tabs {
    margin-top: 1rem;
    margin-bottom: 2rem;

    &-item {
      margin-right: 2rem;
      color: black;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.6rem !important;
      height: 5rem;
    }
  }

  &__list {
    margin-top: 2rem;
  }
}

//INTERVIEW DETAILS
.interviewdetails {
  &__header {
    margin: 5rem 8rem;

    h1 {
      font-size: 2.4rem;
      font-weight: 600;
      margin-bottom: 2rem;
    }
  }
}

//JOB SEEKER PROFILE
.jsprofile {
  margin: 5rem 8rem;
  display: flex;
  justify-content: space-between;

  &__left {
    width: 66%;

    & h1 {
      font-size: 2.6rem;
      font-weight: 600;
      margin-bottom: 2rem;
    }
  }

  &__box {
    padding: 3rem 3.6rem;
    background-color: white;
    border-radius: 0.8rem;
    margin-bottom: 4rem;

    &--header {
      display: flex;
      justify-content: space-between;
      vertical-align: middle;
      margin-bottom: 2.5rem;
    }

    &--action {
      margin-top: auto;
      margin-bottom: auto;
      color: #0061ff;

      & span {
        font-size: 1.8rem;
        font-weight: 600;
      }

      &-icon {
        font-size: 1.6rem;
        margin-right: 1.2rem;
      }
    }
  }

  &__biography {
    &--paragraph {
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 2.6rem;
      color: #828282;
    }
  }

  &__languages {
    display: flex;
    flex-wrap: wrap;

    &--item {
      width: 33%;
      margin-bottom: 2.5rem;
      & h1 {
        font-size: 1.5rem;
        letter-spacing: 0.05rem;
        font-weight: 600;
        color: #828282;
      }

      & p {
        margin-top: 1.2rem;
        font-size: 1.9rem;
        font-weight: 600;
        color: #333333;
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      & hr {
        margin-top: 3.2rem;
        border-top: 0.15rem dashed #e0e0e0;
      }
    }
  }

  &__tabs {
    background-color: white;
    margin-bottom: 4rem;
    padding: 0.2rem 3.6rem;

    &-item {
      height: 7rem !important;
      margin-right: 6.4rem;
      font-size: 1.8rem !important;
      color: black;
      font-weight: 600;
    }
  }

  &__heading {
    border-radius: 0.8rem;
    overflow: hidden;
    background-color: white;
    margin-bottom: 3rem;
    padding-bottom: 3rem;

    & img {
      width: 100%;
      height: 18.5rem;
      object-fit: cover;
    }

    &--actions {
      display: flex;
      justify-content: space-between;
      padding: 0rem 4.6rem;
      margin-top: -6rem;
      & img {
        width: 11.5rem;
        height: 11.5rem;
        border-radius: 0.6rem;
      }

      &-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;

        :first-child {
          height: auto;
          font-size: 1.6rem;
        }

        :last-child {
          height: auto;
          width: 80%;
          font-size: 1.6rem;
        }
      }
    }
    &--content {
      margin-top: 3rem;
      padding-right: 4.6rem;
      padding-left: 4.6rem;
      & h1 {
        font-size: 2.6rem;
        font-weight: 600;
        margin-bottom: 1rem;
      }

      & p {
        font-size: 2rem;
        color: #4f4f4f;
        margin-bottom: 1rem;
      }

      & span {
        font-size: 1.6rem;
        color: #828282;
      }
    }
  }
}
