// LAYOUTS STYLE
.content {
  display: flex;
  height: fit-content;
  min-height: 100vh;
}

.sidebar {
  background-color: #f8fafc;
  padding: 3rem;
  flex-basis: 25%;
}

.main-view {
  background-color: #f8fafc;
  flex-basis: 75%;
  padding: 3rem;
}

.auth-container {
  display: flex;
  flex-direction: row;
  padding: 1.4rem;
  height: fit-content;
  min-height: 100vh;
}
