// VARIABLE STYLE

// COLOR VARIABLES
$main-color: #0061ff;
$main-color-hover: #4a53ee;
$main-color-click: #2a34eb;
$secondary-color: #e9f2ff;
$background-color: #fafafa;
$gray-1: #333333;
$gray-2: #4f4f4f;
$gray-3: #828282;
$gray-4: #bdbdbd;
$gray-5: #e0e0e0;
$gray-6: #f2f2f2;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px
