.StateTag {
  height: 3.7rem;
  padding: 0rem 1.3rem;
  text-align: center;
  display: inline-block;
  font-size: 1.25rem;
  line-height: 3.7rem;
  font-weight: 500;
  border-radius: 0.5rem;

  @media screen and (max-width: 37.5em) {
    font-size: 1.2rem;
    height: 3.2rem;
    line-height: 3.2rem;
    border-radius: 0.4rem;
  }
}

.pending {
  background-color: #f2c94c33;
  opacity: 0.8;
  color: #f2c94c;
}

.Gray-5 {
  background-color: #e0e0e0;
  color: #333333;
}
